
/* styling for container*/

.container{
      width: 100%;
      margin:auto;
}

    
    /* ============================================================================================*/
    /*                                   Styling for Navbar                                       */
    /* ==========================================================================================*/
    
    .nav{
      color:aliceblue;
      width: 100%;
      background-color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1vw;
    }
    
    .nav div{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .nav li{
      margin-right:1vw;
      list-style: none;
    }
    
    .nav .name{
      font-size: 2vw;
      font-weight: bold;
    }
    
    .nav .links{
      font-size: 1.2vw;
      font-weight: 600;
    }
    
    .nav .login div{
      font-size: 1.2vw;
      font-weight: 600;
      margin-right:1vw;
    }
    
    .nav .login div:last-child{
      font-size: 1.3vw;
      padding: 1vw 1vw;
      background-color: #ED661F;
    }
    
    /* ============================================================================================*/
    /*                                   Styling for About                                       */
    /* ==========================================================================================*/
    
    .about{
      width:100%;
      margin:auto;
      height: 75%;
      display: flex;
      justify-content: center;
      padding:3vw 1vw;
      background-image: url("../images/image 1.png");
      background-position:100% 50%;
      background-size: cover;
    }
    .about .txt{
      font-size: 1.8vw;
      width:50%;
    }
    .about .txt p{
      font-size: 1.3vw;
    }
    .about img{
      width:50%;
      height:50%;
    }
    .about .txt div{
      color: aliceblue;
      font-size: 1.5vw;
      font-weight: bold;
      padding: 1.5vw;
      background-color: #ED661F;
      width: fit-content;
    }

/* =================================================================================================*/
/*                                   Styling for members-count                                     */
/* ===============================================================================================*/
.members-count{
      width:35vw;
      background-color: rgb(255, 255, 255);
      font-size:1.1vw;
      font-weight: bold;
      text-align: center;
      display: flex;
      justify-content: space-around;
      list-style: none;
      padding: 2vw 1vw;
      box-shadow: 1px 1px 2px grey;
      transform: translateY(-4vw);
      float:right;
      /* position: absolute;
      top: 72%;
      left: 40vw; */
}

.members-count div li{
      margin: 20px 0px;
}

/* =================================================================================================*/
/*                                         Styling for mission                                     */
/* ===============================================================================================*/

.mission{
      
      width:100%;
      margin-top:10vw;
      margin-bottom: 5vw;
      display: flex;
      justify-content: space-around;
}

.mission img{
      width:40vw;
      height: 25vw;

}
.mission .txt{
      font-size: 1.2vw;
      padding-top: 5vw;
      padding-left: 1vw;
}

/* =================================================================================================*/
/*                                         Styling for categories                                  */
/* ===============================================================================================*/

.categories{
      font-size: 1.2vw;
      width:30vw;
      margin:auto;
      text-align: center;
}


/* =================================================================================================*/
/*                                         Styling for popular                                     */
/* ===============================================================================================*/

.popular{
      width:100%;
      margin:auto;
      padding-top: 2vw;
}

.popular .content{
      font-size: 1vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1vw 0px;

}
.popular .content div img{
      width:12vw;
      height:10vw;
}

.popular .content div{
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      list-style: none;
}

.content div li{
      margin: 0.5vw 0px;
}
/* style the first appearance of li in div*/
.popular .content div li:nth-last-child(3), .content div li:last-child{
      font-weight: bold;
}

.see{
      font-size:1.2vw;
      width:100%;
      margin:4vw 0vw;
      text-align: right;
      padding-right: 4vw;
}
.see span{

      margin-right: 10vw;;
}

hr{
      height:1.5vw;
      background-color: lightgrey;
      margin-top:2vw;
      border-radius: 5px;
}

/*media query for screens larger than 992px*/
@media screen and (min-width: 992px) {
      .container {
            max-width: 1200px;
      }
}